* {
    box-sizing: border-box;
}

/* Les id sont nécessaires sinon les directives du formulaire inclus prennent le pas */
#pageDevisBody {
    background-color: aquamarine;
}

h1 {
    font-size: large;
}